dl {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

dd:before {
  content: ' -- ';
}

dt {  
  color: #424242;
  font-size: 1.1em;
  padding-top: 10px;
}

dd {
  color: #777;
  font-size: 1.1em;
  padding-bottom: 10px;
}

h1 {
  color: #212121;
}

.divide-divider {
  margin: 15px 0;
}