attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.3
django-widget-tweaks==1.4.1
EasyProcess==0.2.3
google-api-python-client==1.6.5
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
oauth2client==4.1.2
oauthlib==2.0.6
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyJWT==1.6.0
pytest==3.4.2
pytest-django==3.1.2
python3-openid==3.1.0
pytz==2018.3
PyVirtualDisplay==0.2.1
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
selenium==3.11.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.1
