dj-database-url>=0.4.2
Django>=1.11.1
django-widget-tweaks>=1.4.1
gunicorn>=19.6.0
psycopg2>=2.6.2
pytest-django>=3.1.2
social-auth-app-django>=1.1.0
whitenoise>=3.3.0
Selenium>=3.4.1
pyvirtualdisplay>=0.2.1
google-api-python-client
