{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Email Users{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}

{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Email users</h3>
                {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li style="color: red"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div class="form-top-right"> <i class="fa fa-key"></i> </div>
            </div>
            <div class="form-bottom">
              <form role="form" action="" method="post" class="mail-form">
                {% csrf_token %}
              </form>
              <form role="form" action="" method="post" class="mail-form">
                {% csrf_token %}
                {% for field in form %}
                   <p>
                     {{ field.label_tag }}<br>
                     {{ field }}
                     {% if field.help_text %}
                       <p style="color: grey">{{ field.help_text }}</p>
                     {% endif %}
                     {% for error in field.errors %}
                       <p id="emailerror" style="color: red">{{ error }}</p>
                     {% endfor %}
                   </p>
                 {% endfor %}

                <button type="submit" onclick="return confirm('Send email?')" name="submitbutton" class="btn">Send</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


