{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Email Users{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "email_system/css/admin_send_email.css" %}">
<link rel="stylesheet" href="{% static "app/css/login.css" %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
          <a style="color: blue" href="/admin/auth/user/">Go back to User administration</a>
        <h3>Email Users</h3>
      </div>
        {% if messages %}
        <ul style="color: red" class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      <div class="form-bottom">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.help_text %}
                <p style="color: grey">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
                <p id="emailerror" style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button type="submit" name="sendemail" class="btn">Send</button>

        <br>
        <br>
        <div class="infoTable">
            <table style="width:100%; float: left">
            <h3>Selected Users</h3>
            <tr>
                <th>Staff Status</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Joined</th>
            </tr>

            {% for user in users %}
                <tr>
                {% for field in user %}
                    <td>{{ field }}</td>
                {% endfor %}
                </tr>
            {% endfor %}

            </table>

        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
