{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Email sent{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="emailconfirm">Application Successfully sent</h4>
              </div>
              <div class="form-top-right"> <i class="fa fa-key"></i> </div>
            </div>
            <div class="form-bottom">
                <p>Thank you for your message. <br>
                We will read it as soon as possible! <br>
                Please fill out this form to continue your application.<br></p>
                <button type="button" class="btn btn-info" style="background-color:#800080;border-color:black;border-radius:0px;" onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLScVt7wB627PQ_UeA53sMk78h64K2qVqu9gZXf_3uOyV7doubQ/viewform?c=0&w=1';"><img src="https://cdn6.aptoide.com/imgs/b/1/4/b14e9cb66874c8859e4311ce9494b94b_icon.png?w=256" width="50px" style="padding-right:10px;">FILL OUT FORM</button><br>
                <p><a style="color: deepskyblue" href="/">Go back to home page</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
