Contact Name:
{{ name }}

Contact Email:
{{ from_email }}

Application Semester:
{{ semester.name }}

Answers:

Major:
{{ major }}

Graduation Month:
{{ gradDate }}

Subteams (most wanted on top):
{{ favoriteTeams }}

Courses Taken:
{{ courses }}

Programming Languages:
{{ languages }}

Knowledge in Machine Learning:
{{ knowledge }}

Teaming Experience:
{{ teamwork }}

Problem to Solve:
{{ problem }}

Interested in Leading:
{{ futureLeader }}

Reasons to Join:
{{ whyCAM2 }}

Additional Information:
{{ anythingElse }}
