body {
  padding-top: 50px;
  padding-bottom: 40px;
}

h1 {
	font-size: 200%;
	margin-top: 15px;
    margin-bottom: 5px;
}

h2 {
	font-size: 100%;
	margin-top: 5px;
    margin-bottom: 10px;
}

#map {
    height: 500px;
}
.lead {
	color: #5a5a5a;
	font-size: 17px;
}
