body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

a,
a:hover,
a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1 {
    font-weight:bold;
}

img { 
    height: 100%;
    opacity: 0.6;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.splash {
    position: relative;
    height: 500px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background-color: black
}

.divide-divider-border {
    margin: 10px 0;
    border-top: 1px solid #fff;
}

.divide-divider {
    margin: 30px 0;
    border-top: 1px solid #fff;
}

.divide-heading {
    color: #ff6a00;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.divide-heading-title {
    color: #ff6a00;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.main-content .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.main-content h2 {
    font-weight: normal;
}

.main-content .col-lg-4 p {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.lead {
    color: #5a5a5a;
    font-size: 17px;
}

.embed-responsive-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
