{% extends "app/base.html" %}
{% block title %}CAM²{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/annotate.css" %}">

{% endblock %}
{% block content %}

<div class="main-content">

<div class="my-image-selector">
	<button class="push-new-image">Push a new image!</button>
	<button class="submit-image">Submit Current Image</button>

	</div>

	<div style="margin-top:50px;">
		<div id="myCanvas" style="position:relative"></div>
	</div>
</div>
{% endblock %}



{% block scripts %}

<script src="{% static "app/js/djaodjin-annotate.js" %}"></script>

<script src="{% static "app/js/label.js" %}"></script>



{% endblock %}