.infoTable {
    overflow-y: scroll;
    height: 1000px;
    width: 100%;
    position: relative;
}

.emailCol {
    height : 100%;
    width: 25%;
    position: relative;
    float: left;
}

.infoCol {
    height : 100%;
    width: 75%;
    position: relative;
    float: right;
}