{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="EmailSent">Password reset email sent</h4>
              </div>
              <div class="form-top-right"> </div>
            </div>
            <div class="form-bottom">
                <p>
                We've emailed you a link to reset your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <br>
              <p>
                If you don't receive an email, please make sure you've entered the email address you registered with,
                and check your spam folder.
              </p>
              <a href="/login/">Go back to login page</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}