{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Change{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}

{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
              </div>
              <div class="form-top-right"> </div>
            </div>
            <div class="form-bottom">
              <h3>Change password</h3>
              <p>
                  -Your password can't be too similar to your other personal information.<br>
                  -Your password must contain at least 8 characters.<br>
                  -Your password can't be a commonly used password.<br>
                  -Your password can't be entirely numeric.<br>
              </p>
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% for error in field.errors %}
                        <p id="passwordError" style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit">Change password</button>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}