{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}

{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="PasswordReset">Password reset</h4>
              </div>
              <div class="form-top-right"> </div>
            </div>
            <div class="form-bottom">
                {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Change password</button>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
                <p><a style="color: deepskyblue" href="/forgot_password/">Go back to forgot password page</a></p>
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}