{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Page Not Found{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
<link rel="stylesheet" href="{% static "app/css/404.css " %}">
{% endblock %}
{% block content %}
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <a class="go-back" href="javascript:history.go(-1)">Back<br>&laquo;</a>
      <div class="positioned">
        <h1>404 Not Found !</h1>
        <p><br>The page you requested might not exist</p>
      </div>
      <a class="go-home" href="/">Home<br>&raquo;</a>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}
