{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Page Not Found{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="SystemError">Page Not Found</h4>
              </div>
              </div>
            <div class="form-bottom">
                <p>The page you are looking for does not exist.</p>
                <p><a style="color: deepskyblue" href="/">Go back to home page</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
