{% extends "app/base.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/ack.css" %}" /> 
{% endblock %} 
{% block content %}
<div class="container main-content">
  <hr class="divide-divider">
  <div class="center">
    <h1>Acknowledgements</h1>
    <p>We greatly appreciate the support from the following organizations.</p>
  </div>
  <!-- United States -->
  <hr class="divide-divider">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <h2 class="divide-heading">United States Department of Transportation</h2>
      <div class="row">
        <ul class="col-xs-5">
          <li><a href="http://transportation.ky.gov/Pages/default.aspx">Kentucky</a></li>
          <li><a href="http://www.dot.state.oh.us/districts/D02/TrafficCameras/Pages/default.aspx">Ohio</a></li>
          <li><a href="http://www.cotrip.org/home.htm">Colorado</a></li>
          <li><a href="http://www.nyc.gov/html/dot/html/home/home.shtml">New York City</a></li>
          <li><a href="http://www.dot.wisconsin.gov/travel/">Wisconsin</a></li>
          <li><a href="http://511.idaho.gov/">Idaho</a></li>
          <li><a href="http://511ia.org/">Iowa</a></li>
          <li><a href="http://www.511la.org/">Louisiana</a></li>
        </ul>
        <ul class="col-xs-5">
          <li><a href="http://www.txdot.gov/">Texas</a></li>
          <li><a href="https://mass511.com/">Massachusetts</a></li>
          <li><a href="https://www.tripcheck.com">Oregon</a></li>
          <li><a href="http://www.dot.state.mn.us/">Minnesota</a></li>
          <li><a href="http://www.wsdot.wa.gov">Washington</a></li>
          <li><a href="http://www.511maine.gov/">Maine</a></li>
          <li><a href="http://www.nh.gov/dot/511/">New Hampshire</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <img class="embed-responsive-item" src="{% static "app/img/us_acknow_highlightmap.jpg" %}">
    </div>
  </div>
  <!-- Australia -->
  <hr class="divide-divider-small">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="divide-heading">Australia Department of Transportation</h2>
      <div class="row">
        <ul class="col-xs-5">
          <li><a href="https://www.livetraffic.com/">New South Wales</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <img class="embed-responsive-item" src="{% static "app/img/australia_acknow_highlightmap.jpg" %}">
    </div>
  </div>
  <!-- Canada -->
  <hr class="divide-divider-small">
  <div class="row">
    <div class="col-sm-6  col-sm-push-6">
      <h2 class="divide-heading">Canada Department of Transportation</h2>
      <div class="row">
        <ul class="col-xs-5">
          <li><a href="http://traffic.ottawa.ca/map/">Ottawa</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6  col-sm-pull-6">
      <img class="embed-responsive-item" src="{% static "app/img/canada_acknow_highlightmap.jpg" %}">
    </div>
  </div>
</div>
{% endblock %}
