<html>
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Application Management</h1>

   <div class="panel-body">
       <ul class="list-unstyled">
           <h2> <span style="padding:10px" class="fa fa-info-circle" aria-hidden="true"></span> Information</h2>
       </ul>
       <hr>
  <div class="panel-body">
        <h4> Please contact <a href="mailto:youremailaddress">cam2proj@shay.ecn.purdue.edu</a> for API access credentials. </h4>
    </div>
  </div>
</div>

{% endblock %}


</html>
