{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}CAM²{% endblock %}</title>
  <link rel="stylesheet" href="{% static "app/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "app/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "app/css/bootstrap-social.css" %}">
  <link rel="stylesheet" href="{% static "app/css/base.css " %}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="294339896954-gouidbgcpu2cktb5v42qdkelu1d0a9ks.apps.googleusercontent.com">
  {% block css %}
  {% endblock %}
</head>

<body>
  {% block nav %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CAM<sup>2</sup></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/cameras/">Cameras</a></li>
          <li><a href="">Source Code</a></li>
          <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/team/">Team</a></li>
              <li><a href="">Publications</a></li>
              <li><a href="/contact/">Contact Us</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="/profile/">{{request.user.username}}'s Profile </a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
  <div class="container">
    <hr class="divide-divider">
    <footer>
      <p class="pull-right hidden-xs"><a href="#">Back to top</a></p>
      <p>© CAM² Research Group.   ·   <a href="/privacy/">Privacy</a>   ·   <a href="/terms/">Terms of Use</a>   ·   <a href="/ack/">Acknowledgements</a>   ·   <a href="/faqs/">FAQs</a></p>
    </footer>
  </div>

  {% endblock %}
  <script src="{% static "app/js/jquery-3.2.0.min.js" %}"></script>
  <script src="{% static "app/js/bootstrap.min.js" %}"></script>
  <script src="{% static "app/js/google_login.js" %}"></script>

  {% block scripts %}
  {% endblock %}
</body>

</html>
