{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/cameras.css " %}">
{% endblock %}
{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="country">Country (select one):</label>
          <select class="form-control" id="country" onchange="updateMap(this.value)">
            <option></option>
            <option>AU</option>
            <option>CA/option>
            <option>USA</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="state">States (select one):</label>
          <select class="form-control" id="state">
            <option></option>
            <option></option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="city">City (select one):</label>
          <select class="form-control" id="city">
            <option></option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
    </div>

  </div>
  <br>
  <div id="mapCanvas"></div>

</div>
{% endblock %}
{% block scripts %}
  <script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&key={{ google_api_key }}&callback=initialize"></script>
  <script src="{% static "app/js/cameras.js" %}"></script>  
{% endblock %}