{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/cameras.css " %}">
{% endblock %}
{% block content %}
<div class="container main-content">
  <br>
  <div class="row hidden">
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="sel1">Country (select one):</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="sel1">States (select one):</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form>
        <div class="form-group">
          <label for="sel1">City (select one):</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div id="map"></div>
</div>
{% endblock %}
{% block scripts %}
  <script src="{% static "app/js/camPos.json" %}"></script>
  <script src="{% static "app/js/cameras.js" %}"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAJ63zPG5FpAJV9KXBJ6Y1bLKkvzYmhAg&callback=initMap"></script>
  
{% endblock %}