{% extends "app/base.html" %} 
{% block title %}Collaborators{% endblock %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}
<div class="container">
    <hr class="divide-divider">
    <h1>Collaborators</h1>
    <hr class="divide-divider">

    <div class="row col-md-12 col-sm-12 col-xs-12 ">
    <div class="col-md-12 col-sm-12 col-xs-12" style="float: left">

    {% for collaborator in collab_list %}
        {% if forloop.counter0|divisibleby:"3" %}
            <div class="row">
        {% endif %}
                
        <div class="col-md-4 col-sm-4 col-xs-6" style="float: left">
        {% if collaborator.collabimg is not None %} 
            <figure style="text-align: center">
                <img style="width: 80%;" src="{{ collaborator.collabimg }}">
                <figcaption>
                    <b><a href="{{ collaborator.collablink }}">{{ collaborator.collabname }}</a></b>
                    <p>
                        {% if collaborator.collabdescr is not None %}
                            {{ collaborator.collabdescr }}
                        {% endif %}
                    </p>
                </figcaption>
            </figure>

        {% endif %}
        </div>
                
        {% if forloop.counter|divisibleby:"3" or forloop.last %}
        </div>
        {% elif forloop.counter|divisibleby:"2" %}
            <div class="clearfix visible-xs-block"></div>
        {% elif forloop.counter|divisibleby:"3" %}
            <div class="clearfix visible-sm-block"></div>
        {% endif %}
      
    <hr class="divide-divider">
        
    {% endfor %}
    </div>
    </div>
      
    <hr class="divide-divider">
    <p>*Note: National Lab, and the owners of the data. Any opinions, findings, and conclusions or
    recommendations expressed in this material are those of the author and do not necessarily reflect
    the views of the collaborators.</p>
  <!-- <hr class="divide-divider">
  <h1>Collaborators</h1>
  <hr class="divide-divider">
  <ul style="list-style-type:none;">
    {% for collaborator in collab_list %}
      <li>
        {% if collaborator.collabimg is not None %}<img src="{{ collaborator.collabimg }}" alt="{{ collaborator.collabname }}" width="125px"><br>{% endif %}
        <b>{{ collaborator.collabname }}</b>
        <ul style="list-style-type:none;">
          {% if collaborator.collabdescr is not None %}
          <li>{{ collaborator.collabdescr }}</li>
          {% endif %}
          {% if collaborator.collablink is not None %}
          <li><a href="{{ collaborator.collablink }}">Collaborator's Site</a></li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
  </ul> -->
</div>
{% endblock %}
