{% extends "app/base.html" %} 
{% block title %}Collaborators{% endblock %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}
<div class="container">
  <hr class="divide-divider">
  <h1>Collaborators</h1>
  <hr class="divide-divider">
  <ul style="list-style-type:none;">
    {% for collaborator in collab_list %}
      <li>
        {% if collaborator.collabimg is not None %}<img src="{{ collaborator.collabimg }}" alt="{{ collaborator.collabname }}" width="125px"><br>{% endif %}
        <b>{{ collaborator.collabname }}</b>
        <ul style="list-style-type:none;">
          {% if collaborator.collabdescr is not None %}
          <li>{{ collaborator.collabdescr }}</li>
          {% endif %}
          {% if collaborator.collablink is not None %}
          <li><a href="{{ collaborator.collablink }}">Collaborator's Site</a></li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
