{% extends "app/base.html" %}
{% block title %}History{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <hr class="divide-divider">
    <h1>Contact Us</h1>
    <hr class="divide-divider">

    <h5>Please contact Project Director - Professor <a class="reference external" href="https://engineering.purdue.edu/ECE/People/ptProfile?resource_id=3355" style="color: #1aa3ff">Yung-Hsiang Lu</a> (E-mail: <a href="mailto:yunglu@ecn.purdue.edu" style="color: #1aa3ff">yunglu@ecn.purdue.edu</a>)</h5>
    <h5>Thank you for your interest.</h5>

</div>
{% endblock %}