{% extends "app/base.html" %}
{% block title %}Coronavirus 2020{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/cameras.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock %}
{% block content %}
<div class="container">
    <hr class="divide-divider">
    <h1>COVID-19 <a href="https://www.cam2project.net/#section1" style="font-size: large"><span style="padding:10px" class="fa fa-camera-retro"></span>Check out our new videos about COVID-19!</a></h1>
    <hr>
    <h2>The world is changing, views from worldwide network cameras.</h2>

<!--    <hr class="divide-divider">-->

    <div id="bar">
        <iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1YdLaKItB2nQS3O6mXX87UR5-BCs_-IxpswWV7Iq3RUQ&font=Default&lang=en&initial_zoom=2&height=650" width="100%" height="650" style="border: 0"></iframe>
    </div>

    <div>
        <span style="padding:10px" class="fa fa-camera-retro"></span>Checkout
    </div>

    <div id="mapCanvas">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1pDdaEdOqDIsa71a9wu_R4kGZgUePvWjP" width="90%" height="520" style="border:0; display: block"></iframe>
    </div>

</div>
{% endblock %}