{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Email confirmation sent{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="emailconfirm">Email confirmation sent</h4>
              </div>
              <div class="form-top-right"></div>
            </div>
            <div class="form-bottom">
                <p>We have sent an account confirmation to your email. <br>
                    Please confirm your email address to complete the registration. </p>
                <p style="color: red">If you don't confirm your email, you will not be able to sign in!</p>
                <p><a style="color: deepskyblue" href="/">Go back to home page</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
{% endblock %}
