{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/history.css" %}">
{% endblock %}
{% block content %}
<div class="container">
  <hr class="divide-divider">
  <h1>History</h1>
  <hr class="divide-divider">
  <dl>
    <dt>2017/07</dt>
    <dd>Third Low-Power Image Recognition Challenge was held at the Annual Conference on Computer Vision and Pattern Recognition</dd>
    <dt>2017/06</dt>
    <dd>Dr. Anup Mohan graduated and joined Intel</dd>
    <dt>2017/05</dt>
    <dd>Bo Fu visited Nanyang Technological University for one month</dd>
    <dd>Fengjian Pan visited University of Dortmund for two months</dd>
    <dt>2017/04</dt>
    <dd>Dr. Yung-Hsiang Lu was promoted to a full professor</dd>
    <dt>2017/03</dt>
    <dd>Dr. George K. Thiruvathukal joined the CAM2 as the team manager</dd>
    <dt>2017/02</dt>
    <dd>CAM2 receives a GOALI grant the National Science Foundation for collaboration with Intel</dd>
    <dt>2016/12</dt>
    <dd>Dr. Ahmed Kaseb graduated and joined Cairo University as an assistant professor</dd>
    <dt>2016/11</dt>
    <dd>Kyle McNulty and Everett Berry spoke at Purdue TEDx</dd>
    <dd>Dr. George K. Thiruvathukal joined the project as a consultant</dd>
    <dt>2016/06</dt>
    <dd>Second Low-Power Image Recognition Challenge was held at the Design Automation Conference</dd>
    <dd>Perceive Inc. receives SBIR-1 from the National Science Foundation (IIP-1622082)</dd>
    <dt>2015/11</dt>
    <dd>Dr. Yung-Hsiang Lu, Kyle McNulty, Everett Berry, and Andrew Blejde founded Perceive Inc.</dd>
    <dd>Dr. Yung-Hsiang Lu delivered a keynote speech in International Conference on Cloud Computing and Big Data</dd>
    <dt>2015/10</dt>
    <dd>Dr. Yung-Hsiang Lu moderated a panel on "Opportunities and Challenges of Globally Networked Cameras" in ACM Multimedia</dd>
    <dt>2015/07</dt>
    <dd>CAM2 receives a grant from the National Science Foundation (ACI-1535108)</dd>
    <dt>2015/06</dt>
    <dd>First Low-Power Image Recognition Challenge was held at the Design Automation Conference</dd>
    <dt>2015/04</dt>
    <dd>Dr. Yung-Hsiang Lu, Kyle McNulty, and Andrew Blejde receive I-Corps from the National Science Foundation (IIP-1530914)</dd>
    <dt>2014/09</dt>
    <dd>National University of Singapore and Purdue sign an agreement to use CAM² in an NUS student project supervised by Professor Wei Tsang Ooi.</dd>
    <dd>Camera Count exceeds 50,000</dd>
    <dt>2014/08</dt>
    <dd>Receive NSF IIA-1427808 grant "US-Singapore Workshop: Collaborative Research: Understand the World by Analyzing Many Video Streams"</dd>
    <dt>2014/07</dt>
    <dd>Alpha-1 release</dd>
    <dt>2014/04</dt>
    <dd>Dr. Lu speaks about CAM2 in Microsoft Research (eScience in the Cloud)</dd>
    <dd>Receive $3,500 (second prize) in the Schurz Innovation Challenge</dd>
    <dt>2013/12</dt>
    <dd>Camera Count exceeds 10,000</dd>
    <dt>2013/09</dt>
    <dd>Camera Count exceeds 1,000</dd>
    <dt>2012/08</dt>
    <dd>The CAM2 project starts as an undergraduate project with the name "Big Visual Data". Advisors: Yung-Hsiang Lu and Edward J Delp</dd>
  </dl>
</div>
{% endblock %}
