<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CAM²</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/homepage.css"> </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="homepage.html">CAM<sup>2</sup></a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Cameras</a></li>
                    <li><a href="">Source Code</a></li>
                    <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Team</a></li>
                            <li><a href="">Publications</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Register | Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="splash">
        <img src="img/background.jpg">
        <div class="center">
          <h1>Welcome to CAM<sup>2</sup></h1>        
          <h2>the Continuous Analysis of Many CAMeras</h2> 
        </div>
    </div>
    <div class="container main-content">
        <hr class="divide-divider">
        <div class="row divide">
            <div class="col-sm-6 col-sm-push-6">
                <h2 class="divide-heading">CAM² Park Cam</h2>
                <p class="lead">Detect wildlife patterns.
                    <br>Count the number of people at a specific attraction.
                </p>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OYksWrQJOpQ?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
                </div>
            </div>
        </div>
        <hr class="divide-divider">
        <div class="row divide">
            <div class="col-sm-6">
                <h2 class="divide-heading">CAM² Event Cam</h2>
                <p class="lead">Event cam gives a general overview of the CAM² system and shows what our system is capable of doing.</p>
            </div>
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pdT4bksL8y8?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
                </div>
            </div>
        </div>
        <hr class="divide-divider">
        <div class="row divide">
            <div class="col-sm-6  col-sm-push-6">
                <h2 class="divide-heading">CAM² City Cam</h2>
                <p class="lead">CAM² has cameras in cities, in addition to traffic cameras, and we can do many different analyses on those images. Mainly we can detect different activities in the cities during the day.</p>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y9JwapBTzG0?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
                </div>
            </div>
        </div>
        <hr class="divide-divider">
        <hr class="divide-divider">
        <footer>
            <p class="pull-right hidden-xs"><a href="#">Back to top</a></p>
            <p>© CAM² Research Group. · <a href="">Privacy</a> · <a href="">Terms of Use</a></p>
        </footer>
    </div>
    <script src="./js/jquery-1.11.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>