{% extends "app/base.html" %}
{% block title %}CAM²{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/index.css" %}">
{% endblock %}
{% block content %}
<div class="splash">
  <img src="{% static "app/img/background.jpg" %}">
  <div class="center">
     <h1>Welcome to CAM<sup>2</sup></h1>
     <h2 id="welcome">the Continuous Analysis of Many CAMeras</h2>
  </div>
</div>

<div class="main-content">
  <div class="row divide" style="background-color: #F1F1F1; padding-top: 50px;
  padding-bottom: 50px; width: 101.03%">
  
  
  
  <!--New Section for Tri-column arrangement-->
  <!-- <meta name = "" -->
  <!-- <style> -->
  <!-- * { box-sizing: border-box; -->
  
  
 
  
  <!-- </style>  -->
  <!--End of new tri-column arrangement-->
    <div style="width: 80%; margin: auto">
      <!-- <div class="col-sm-5"> -->
	  <div>
        <center><h2 class="divide-heading">What is CAM2?</h2></center>
        <p class="lead">
          <ul class="list-unstyled">
            <center>
			<li><span style="padding:10px"></span>CAM2 stands for Continuous Analysis of Many CAMeras</li>
			</center>
            <center>
			<li><span style="padding:10px" class="fa fa-group"></span>A system for analyzing streaming data built by a team of Purdue University researchers.</li>
			</center>
          </ul>
        </p>
		
      </div>
	  <div class = "row">
		<div class = "column">
			<center><p><b>Step 1:</b><br>Search for cameras all over the world using tools from our website.</br></p></center>
		</div>
		<div class = "column">
	  		<center><p><b>Step 2:</b><br>Filter cameras by any specific region or country.</br></p></center>
		</div>
		<div class = "column">
	  		<center><p><b>Step 3:</b><br>Analyze real-time video feeds from that specific region or country.</br></p></center>
		</div>
		<div class = "column">
	  		<center><p><b>Step 4:</b><br>Draw conclusions using gathered data.</br></p></center>
		</div>
	  </div>
	  <br></br>
	  <div>
		<center>
		<p><small>Want more information? See the video below.</p>
		</center>
	  </div>

      <div class="col-sm-4 col-sm-push-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jtoQ5eB-GCE?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"
                  allowfullscreen="allowfullscreen"></iframe>
         </div>
      </div>

    </div>
  </div>
  <hr class="divide-divider">
  <div class="row divide" style="width: 101.03%">
    <div style="width: 80%; margin: auto">
      <div class="col-sm-5 col-sm-push-7">
        <h2 class="divide-heading">Monitor Houston Flooding</h2>
        <p class="lead">
          <ul class="list-unstyled">
            <li><span style="padding:10px" class="fa fa-camera"></span>Network Cameras Application</li>
            <li><span style="padding:10px" class="fa fa-video-camera"></span>Monitoring Natural Disaster with real-time data.</li>
          </ul>
        </p>
      </div>
      <div class="col-sm-5 col-sm-pull-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D3BPxbGa4lo?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"
                   allowfullscreen="allowfullscreen"></iframe>
         </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
