{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/index.css" %}">
{% endblock %}
{% block content %}
<div class="splash">
  <img src="{% static "app/img/background.jpg" %}">
  <div class="center">
     <h1>Welcome to CAM<sup>2</sup></h1>
     <h2>the Continuous Analysis of Many CAMeras</h2>
  </div>
</div>
<div class="container main-content">
  <hr class="divide-divider">
  <div class="row divide">
    <div class="col-sm-6 col-sm-push-6">
      <h2 class="divide-heading">CAM² Park Cam</h2>
      <p class="lead">
        Detect wildlife patterns.
        <br>Count the number of people at a specific attraction.
      </p>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OYksWrQJOpQ?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
       </div>
    </div>
  </div>
  <hr class="divide-divider">
  <div class="row divide">
    <div class="col-sm-6">
      <h2 class="divide-heading">CAM² Event Cam</h2>
      <p class="lead">Event cam gives a general overview of the CAM² system and shows what our system is capable of doing.</p>
    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pdT4bksL8y8?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
      </div>
    </div>
  </div>
  <hr class="divide-divider">
  <div class="row divide">
    <div class="col-sm-6  col-sm-push-6">
      <h2 class="divide-heading">CAM² City Cam</h2>
      <p class="lead">CAM² has cameras in cities, in addition to traffic cameras, and we can do many different analyses on those images.
        Mainly we can detect different activities in the cities during the day.
      </p>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y9JwapBTzG0?rel=0&controls=1&showinfo=0&vq=hd720&autohide=1"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
