{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/index.css" %}">
{% endblock %}
{% block content %}
<div class="splash main-content">
  <img src="{% static "/app/img/background.jpg" %}">
  <div class="center">
     <h1>Welcome to CAM<sup>2</sup></h1>
     <h3>the Continuous Analysis of Many CAMeras. CAM² is a system for analyzing streaming data built by a team of Purdue University researchers.</h3>
  </div>
</div>
<div class="container">
  <hr class="divide-divider">
  <div class="text-center">
    <p class="lead">CAM² provides access to tens of thousands of public camera streams from around the globe.</p>
    <button type="button" class="btn btn-primary btn-lg"><a class="buttontext" href="/cameras/">Browse cameras</a></button>
  </div>
  <hr class="divide-divider">
  <div class="text-center">
    <p class="lead">Use our image processing filters or create your own to analyze your camera footage.</p>
  </div>
  <hr class="divide-divider">
  <div class="text-center">
    <p class="lead">To get started, create an account.</p>
    <button type="button" class="btn btn-primary btn-lg">Sign up</button>
  </div>
</div>
{% endblock %}
