<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login/Register</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <base href="../../../cam2webui/static/">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/login.css"> </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button> 
				<a class="navbar-brand" href="../../app/templates/app/homepage.html#">CAM<sup>2</sup></a> 
			</div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="../../app/templates/app/camerapage.html">Cameras</a></li>
          <li><a href="">Source Code</a></li>
          <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Team</a></li>
              <li><a href="">Publications</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="../../app/templates/app/login.html">Register | Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Login to CAM2</h3>
                  <p>Enter username and password :</p>
                </div>
                <div class="form-top-right"> <i class="fa fa-key"></i> </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username"> </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password"> </div>
                  <button type="submit" class="btn">Sign in!</button>
                </form>
              </div>
            </div>
            <div class="social-login">
              <h3 style="color:black;">...or login with:</h3>
              <div class="social-login-buttons">
                <a class="btn btn-link-1 btn-link-1-facebook" href="#"> <i class="fa fa-github"></i> Github </a>
              </div>
            </div>
          </div>
          <div class="col-sm-1 middle-border"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Sign up now</h3> </div>
                <div class="form-top-right"> <i class="fa fa-pencil"></i> </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="" method="post" class="registration-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-first-name">First name</label>
                    <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name"> </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-last-name">Last name</label>
                    <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name"> </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-email">Email</label>
                    <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email"> </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-about-yourself">About yourself</label>
                    <textarea name="form-about-yourself" placeholder="About yourself..." class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                  </div>
                  <button type="submit" class="btn">Sign me up!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
