{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
      <div class="form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Login to CAM2</h3>
            <p>Enter username and password</p>
          </div>
          <div class="form-top-right"> <i class="fa fa-sign-in"></i> </div>
        </div>
        <div class="form-bottom">
          <form role="form" action="" method="post" class="login-form">
            {% csrf_token %}
            {% for field in form %}
              <p>
              {{ field.label_tag }}<br>
              {{ field }}
              </p>
            {% endfor %}
            <a href="/password_reset/">Forgot password?</a>
            <div class="clearfix"></div>
            <button type="submit" name="submitbutton" class="btn center-block">Sign in</button><br>
            {% if form.non_field_errors %}
              <ul class='list-group'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-warning" id="loginerror">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="social-login">
        <h4 style="color:black;text-align:center;">- or -</h4>
        <div class="social-login-buttons">
          <a class="oauth-btn btn btn-block btn-social btn-md btn-github center-block" id="github_login" href="{% url 'social:begin' 'github' %}">
            <span class="fa fa-github"></span>Sign in with Github
          </a>
          <a class="oauth-btn btn btn-block btn-social btn-md btn-google center-block" href="{% url 'social:begin' 'google-oauth2' %}">
            <span class="fa fa-google"></span>Sign in with Google
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}


