{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}

{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Login to CAM2</h3>
                <p>Enter username and password :</p>
              </div>
              <div class="form-top-right"> <i class="fa fa-key"></i> </div>
            </div>
            <div class="form-bottom">
              <form role="form" action="" method="post" class="login-form">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                  {{ field.label_tag }}<br>
                  {{ field }}
                  </p>
                {% endfor %}
                <button type="submit" name="submitbutton" class="btn">Sign in</button>
                {% if form.non_field_errors %}
                  <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li id="loginerror">{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </form>
            </div>
          </div>
          <div class="social-login">
            <h4 style="color:black;text-align:center;">- or -</h4>
            <div class="social-login-buttons">
              <a class="btn btn-block btn-social btn-lg btn-github" href="{% url 'social:begin' 'github' %}">
                <span class="fa fa-github"></span>Sign in with Github
              </a>
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="#" onclick="signOut();">Sign out</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


