{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}New Map Test{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}
{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h4 id="SystemError">New Map API Test</h4>
              </div>
            <div class="form-bottom">
                <p>Testing the New Map: </p>
                <p><!-- To add: info from API --></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
{% for c in data %}
<h4>Camera {{ c.legacy_cameraID }}</h4>
<p>{{ c.city }}, {{ c.state }}, {{ c.country }}</p>
<p>{{ c.latitude }}, {{ c.longitude }}</p>
{% if c.is_active_video %}
<img src="http://{{ c.retrieval.ip }}/{{ c.retrieval.video_path }}" alt="No Image">
{% elif c.is_active_image %}
<img src="http://{{ c.retrieval.ip }}/{{ c.retrieval.image_path }}" alt="No Image">
{% elif c.retrieval.video_path is not null %}
<img src="http://{{ c.retrieval.ip }}/{{ c.retrieval.video_path }}" alt="No Image">
{% elif c.retrieval.image_path is not null %}
<img src="http://{{ c.retrieval.ip }}/{{ c.retrieval.image_path }}" alt="No Image">
{% else %}
<p>No Image</p>
{% endif %}
<br>
{% endfor %}
</div>
{% endblock %}
