{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{request.user.username}}'s Profile{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/profile.css" %}">
{% endblock %}
{% block content %}
<div class="container main-content">

  <h2 class="sub-header">User Information</h2>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} style="color: green" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  <div class="container">
    {% if user.first_name is None %}
        <form method="post">
            {% csrf_token %}
               {% for field in nameForm %}
               <p>
                 {{ field.label_tag }}<br>
                 {{ field }}
                 {% for error in field.errors %}
                   <p style="color: red">{{ error }}</p>
                 {% endfor %}
               </p>
               {% endfor %}

            <button class="btn" type="submit" name="saveName">Save My Name</button>

        </form>
    {% else %}
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    {% endif %}



    {% if not github_login %}
    <div class="panel-body">
      <a href="/password_reset/">Change my password</a>
    </div>
    {% else %}
    <h3 class="sub-header">GitHub(Under Development)</h3> 
      <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
      <div class="social-login-buttons" style="width:30%">
        <a class="btn btn-block btn-social btn-github" href="/logout">
          <span class="fa fa-github"></span>Log out Github
        </a>
      </div>     
    {% endif %}

    <h3 class="sub-header">Email</h3>
    <div class="panel-body">
    {% if user.email %}
        <p><b>Current email:</b> {{ user.email }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
           {% csrf_token %}
        {% for field in emailForm %}
           <p>
             {{ field.label_tag }}<br>
             {{ field }}
             {% for error in field.errors %}
               <p style="color: red">{{ error }}</p>
             {% endfor %}
           </p>
        {% endfor %}
        {% if user.email %}
            <button class="btn" type="submit" name="changeEmail">Change My Email</button>
        {% else %}
            <button class="btn" type="submit" name="changeEmail">Confirm My Email</button>
        {% endif %}
    </form>
    </div>


    <h3 class="sub-header">App Lists</h3>
    <div class="panel-body">
      {% if apps %}
      <ul class="apps">
          {% for app in apps %}
          <li ID="new_app">{{ app.appname }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        {% for field in app_form %}
           <p>
             {{ field.label_tag }}<br>
             {{ field }}
           </p>
        {% endfor %}
        <button class="btn" type="submit" name="add">Add</button>
      </form>
    </div>


    <h3>Change Profile Information</h3>
    <div class="panel-body">
    <form method="post">
        {% csrf_token %}
        {% for field in infoForm %}
           <p>
             {{ field.label_tag }}<br>
             {{ field }}<br>
             Current: {{ field.value|linebreaks }}
             {% for error in field.errors %}
               <p style="color: red">{{ error }}</p>
             {% endfor %}
           </p>
        {% endfor %}


        <button class="btn" type="submit" name="changeInfo">Change My Info</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
