{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{request.user.username}}'s Profile{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/profile.css" %}">
{% endblock %}
{% block content %}
<div class="container main-content">

  <h2 class="sub-header">User Information</h2>
  <div class="container">
    {% if user.email %}
      <h3 class="sub-header">Email</h3>
      <div class="panel-body">
        <p>Current email: <strong>{{ user.email }}</strong></p>
      </div>
    {% endif %}
    <h3 class="sub-header">Change Password</h3>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} style="color: green" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    <div class="panel-body">
      {% if not user.has_usable_password %}
        <p style="color: red">You have not defined a password yet.</p>
      {% else %}
          <p>
            Your password can't be too similar to your other personal information.<br>
            Your password must contain at least 8 characters.<br>
            Your password can't be a commonly used password.<br>
            Your password can't be entirely numeric.<br>
          </p>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
           <p>
             {{ field.label_tag }}<br>
             {{ field }}
             {% for error in field.errors %}
               <p style="color: red">{{ error }}</p>
             {% endfor %}
           </p>
        {% endfor %}
        <button class="btn" type="submit">Save changes</button>
      </form>
      {% endif %}
    </div>
    {% if github_login %}
    <h3 class="sub-header">GitHub(Under Development)</h3> 
      <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
      <div class="social-login-buttons" style="width:30%">
        <a class="btn btn-block btn-social btn-github" href="/logout">
          <span class="fa fa-github"></span>Log out Github
        </a>
      </div>     
    {% endif %}
  </div>
</div>
{% endblock %}
