{% extends "app/base.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}
<div class="container">
  <hr class="divide-divider">
  <h1>Publications</h1>
  <hr class="divide-divider">
  <ol>
    {% for publication in publication_list %}
      <li>
        {{ publication.paperinfo }} 
        {% if publication.paperlink is not None %}
        [<a href="{{ publication.paperlink }}">PDF</a>]
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
