{% extends "app/base.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}
<div class="container">
  <hr class="divide-divider">
  <h1>Publications</h1>
  <hr class="divide-divider">
  <ol>
    <li class="paper">
      Ryan Dailey, Ahmed S Kaseb, Chandler Brown, Sam Jenkins, Sam Yellin, Fengjian Pan, Yung-Hsiang Lu, &quot;Creating the World&#39;s Largest Real-Time Camera Network&quot;, Imaging and Multimedia Analytics in a Web and Mobile World 2017&nbsp;</li>
    <li class="paper">
      Anup Mohan, Kent Gauen, Yung-Hsiang Lu, Wei Wayne Li, Xuemin Chen, &quot;Internet of Video Things in 2030: a World with Many Cameras&quot;, IEEE International Symposium of Circuits and Systems 2017.</li>
    <li class="paper">
      Anup Mohan, Ahmed S. Kaseb, Yung-Hsiang Lu, Thomas J. Hacker, &quot;Location Based Cloud Resource Management for Analyzing Real-Time Video from Globally Distributed Network Cameras&quot;, IEEE International Conference on Cloud Computing Technology and Science (CloudCom) 2016 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2016CloudcomB.pdf">PDF</a>]</li>
    <li class="paper">
      Saurav Nanda Thomas J Hacker Yung-Hsiang Lu, &quot;Predictive Model for Dynamically Provisioning Resources in Multi-Tier Web Applications&quot;, IEEE International Conference on Cloud Computing Technology and Science (CloudCom) 2016 &nbsp;[<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2016CloudcomA.pdf">PDF</a>]</li>
    <li class="paper">
      Youngsol Koh, Anup Mohan, Guizhen Wang, Hanye Xu, Abish Malik, Yung-Hsiang Lu, and David S. Ebert, Improve Safety using Public Network Cameras, IEEE Symposium on Technologies for Homeland Security 2016 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2016IEEEHST1.pdf">PDF</a>]</li>
    <li class="paper">
      Yung-Hsiang Lu, Milind Kulkarni, and Xiaojin Zhu Programming Language Support for Analyzing Non-Persistent Data IEEE Symposium on Technologies for Homeland Security 2016 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2016IEEEHSTNPD.pdf">PDF</a>]</li>
    <li class="paper">
      Youngsol&nbsp;Koh and Yung-Hsiang Lu, &quot;Large-scale Image Processing using Amazon EC2 Spot Instances&quot;, IS&amp;T International Symposium on Electronic Imaging in the Image Quality and System Performance Conference 2016 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/KohLuEI2016.pdf">PDF</a>]</li>
    <li class="paper">
      Milind Kulkarni and Yung-Hsiang Lu, Beyond Big Data-Rethinking Programming Languages for Non-Persistent Data, International Conference on Cloud Computing and Big Data 2015 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/CCBD2015Kulkarni.pdf">PDF</a>]</li>
    <li class="paper">
      Ahmed S. Kaseb, Anup Mohan and Yung-Hsiang Lu, Cloud Resource Management for Image and Video Analysis of Big Data from Network Cameras, International Conference on Cloud Computing and Big Data 2015 (best paper award) [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/CCBD2015Kaseb.pdf">PDF</a>]</li>
    <li class="paper">
      Everett Berry, Yung-Hsiang Lu, and Wei-Tsung Su,&nbsp;Using Global Camera Networks to Create Multimedia Content, International Conference on Cloud Computing and Big Data 2015 &nbsp;[<a href="https://engineering.purdue.edu/HELPS/Publications/papers/CCBD2015Berry.pdf">PDF</a>]</li>
    <li class="paper">
      Wenyi Chen, Yung-Hsiang Lu and Thomas Hacker, &quot;Adaptive Cloud Resource Allocation for Analysing Many Video Streams&quot;, IEEE International Conference on Cloud Computing Technology and Science (CloudCom) 2015 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/Cloudcom2015.pdf">PDF</a>]</li>
    <li class="paper">
      Joanna Batstone, Touradj Ebrahimi, Tiejun Huang, Yung-Hsiang Lu, and Yonggang Wen, &quot;Opportunities and Challenges of Global Network Cameras&quot;, Panel in ACM Multimedia 2015 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/ACMMM2015.pdf">PDF</a>].</li>
    <li class="paper">
      Ahmed S. Kaseb, Youngsol Koh, Everett Berry, Kyle McNulty,Yung-Hsiang Lu, Edward J. Delp, &quot;Multimedia Content Creation using Global Network Cameras: The Making of CAM2&quot;, GlobalSIP 2015 (invited paper) [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/GlobalSIP2015.pdf">PDF</a>]&nbsp;&nbsp;</li>
    <li class="paper">
      S. M. Iftekharul Alam,&nbsp;Sonia Fahmy, and Yung-Hsiang Lu, &quot;LiTMaS: Live road Traffic Maps for Smartphones&quot;,&nbsp; IEEE WoWMoM Workshop on Video Everywhere 2015.[<a href="https://engineering.purdue.edu/HELPS/Publications/papers/15AlamFahmyLuWoWMoM.pdf">PDF</a>]</li>
    <li class="paper">
      Wei-Tsung Su, Kyle McNulty,&nbsp;and Yung-Hsiang Lu, &quot;Teaching Large-Scale Image Processing over Worldwide Network Cameras&quot;, IEEE International Conference on Digital Signal Processing 2015 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/IEEEDSP2015.pdf">PDF</a>]</li>
    <li class="paper">
      Line C Pouchard, &nbsp;Megan&nbsp;Sapp Nelson, Yung-Hsiang Lu, &quot;Comparing policies for open data from publicly accessible international sources&quot;, Annual Conference&nbsp;International Association for Social Science Information Services &amp; Technology 2015 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/PouchardNelsonLu2015IASSIST.pdf">PDF</a>].</li>
    <li class="paper">
      Wei-Tsung Su, Yung-Hsiang Lu, and Ahmed S. Kaseb, &quot;Harvest the Information from Multimedia Big Data in Global Camera Networks&quot;,&nbsp;IEEE International Conference on Multimedia Big Data 2015. [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/SuLuKaseb2015BigMM.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">
      Ahmed S. Kaseb, Everett Berry, Erik Rozolis, Kyle McNulty, Seth Bontrager, Youngsol Koh, Yung-Hsiang Lu, Edward J. Delp, &quot;An interactive web-based system for large-scale analysis of distributed cameras&quot;, Imaging and Multimedia Analytics in a Web and Mobile World 2015. [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2015EICAM2.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">
      Ahmed S. Kaseb, Wenyi Chen, Ganesh Gingade, Yung-Hsiang Lu, &quot;Worldview and route planning using live public cameras&quot;,&nbsp;Imaging and Multimedia Analytics in a Web and Mobile World 2015. [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2015EIMobile.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">
      Thitiporn Pramoun, Jeehyun Choe, He Li, Qingshuang Chen, humrongrat Amornraksa, Yung-Hsiang Lu, Edward J. Delp III, &quot;Webcam&nbsp;classification using simple features&quot;, Computational Imaging 2015. [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2015EIWebcam.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">Line C. Pouchard, Megan Sapp Nelson, and Yung-Hsiang Lu, "Data Sharing and Re-Use Policies for Webcam Video Feeds from International Sources", IASSIST Quarterly, Volume 39, Number 4, 2015</li>
    <li class="paper">Wenyi Chen, Anup Mohan, Yung-Hsiang Lu, Thomas Hacker, Wei Tsang Ooi, Edward J Delp, "Analysis of Large-Scale Distributed Cameras Using Cloud", IEEE Cloud Computing, featured article in September / October 2015</li>
    <li class="paper">
      Ahmed S. Kaseb, Everett Berry, Youngsol Koh, Anup Mohan, Wenyi Chen, He Li, Yung-Hsiang Lu, and Edward J. Delp, &quot;A System for Large-Scale Analysis of Distributed Cameras&quot;, IEEE Global Conference on Signal and Information Processing 2014. [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/GlobalSIP2014.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">
      Thomas J. Hacker, Yung-Hsiang Lu, &quot;An Instructional Cloud-Based Testbed for Image and Video Analytics&quot;, the Emerging Issues in Cloud Workshop of CloudCom 2014 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2014CloudCom.pdf" style="outline: none;">PDF</a>]</li>
    <li class="paper">
      Jeehyun Choe, Thitiporn Pramoun, Thumrongrat Amornraksa, Yung-Hsiang Lu, and Edward J. Delp, &quot;Image-Based Geographical Location Estimation Using Web Cameras&quot;, Southwest Symposium on Image Analysis and Interpretation 2014 [<a href="https://engineering.purdue.edu/HELPS/Publications/papers/SSIAI2014.pdf">PDF</a>]</li>
  </ol>
</div>
{% endblock %}
