{% extends "app/base.html" %} 
{% block title %}Publications{% endblock %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}

<div class="container">
  <hr class="divide-divider">
  <h1>Publications</h1>
  <hr class="divide-divider">

  <div class="input-group mb-3" style='width: 40%;'>
      <input type="text" class="shadow-sm form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" >  
      &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="shadow-sm btn btn-outline-info">Search</button>
    </div>
    <div align="right">
      <i class="fa fa-caret-down"></i>
      <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/publications">
          <button type="button" class="btn btn-light"><i class="fa fa-th"></i></button>
          </a>
          <a href="/publications_list">
          <button action="/publications_list"type="button" class="btn btn-light"><i class="fa fa-list-ul"></i></button>
        </a>
          </div>
    </div>
    
    <nav aria-label="breadcrumb">
      <div style="text-align: center;">
        <h4>Categories</h4>
      </div>
      <hr/>
      <h6>Special Session on Low-Power Image Recognition Challenges</h6>
      
      <p></p>
      </nav>
  <ol>

    <div class="row">
      <!-- <div class="col" style="width: 10%;">
        <h4>Categories</h4>
      </div> -->

    
    {% for publication in publication_list %}
      {% if forloop.counter|divisibleby:4 %}
        </div>
        <br>
        <div class="row">
      {% endif %}
      <!-- <li> -->
        <div class="col">
          <div class="shadow-sm card" style="width: 18rem;">
              <div class="card-body">
                <!-- {{ publication.paperinfo }}  -->
                <h5 class="card-title">{{ publication.paperinfo }}</h5>
                <hr/>
                <h6 class="card-subtitle mb-2 text-muted">{{ publication.conference }}</h6>
                <p class="card-text">{{ publication.authors }}</p>
                {% if publication.paperlink is not None %}
                <br>
                <a href="{{ publication.paperlink }}" class="btn btn-primary" style="width: 100%;">PDF</a>
          <!-- [<a href="{{ publication.paperlink }}" style="color:#1aa3ff;">PDF</a>] -->
          <!-- <img src="{{ publication.paperlink }}" width="300px" height="300px"/> -->
          
                {% endif %}
            </div>
          </div>
        </div>

      <!-- </li> -->
    {% endfor %}
    </div>
  </ol>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "app/js/publication.js" %}"></script>
{% endblock %}
