{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "app/css/login.css " %}">
{% endblock %}

{% block content %}
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">

        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-box">

            <div class="form-top">
              <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Enter your registration information</p>
              </div>
              <div class="form-top-right"> <i class="fa fa-pencil"></i> </div>
            </div>

              <div class="form-bottom">
                
              <form method="post">
                 {% csrf_token %}
                 <div class="col-sm-5">
                 {% for field in form1 %}
                   <p>
                     {{ field.label_tag }}<br>
                     {{ field }}
                     {% for error in field.errors %}
                       <p style="color: red">{{ error }}</p>
                     {% endfor %}
                   </p>
                 {% endfor %}
                 </div>
                 <div class="col-sm-offset-1 col-sm-5">
                 {% for field in form2 %}
                   <p>
                     {{ field.label_tag }}<br>
                     {{ field }}
                     {% for error in field.errors %}
                       <p style="color: red">{{ error }}</p>
                     {% endfor %}
                   </p>
                 {% endfor %}
                 </div>
                 <button type="submit" class="btn">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
