{% extends "app/base.html" %} 
{% block title %}Sponsors{% endblock %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static "app/css/publications.css" %}"> 
{% endblock %} 
{% block content %}
<div class="container">
  <hr class="divide-divider">
  <h1>Sponsors</h1>
  <hr class="divide-divider">
  <ol>
    {% for sponsor in sponsor_list %}
      <li>
        <b>{{ sponsor.sponname }}</b>
        {% if sponsor.logolink is not None %}, 
            <img style="width: 50px; height: 50px; position: relative" src="{{ sponsor.logolink }}">
        {% endif %}
          
        {% if sponsor.spondescr is not None %}
        , {{ sponsor.spondescr }}
        {% endif %}
        {% if sponsor.sponlink is not None %}
        , <a href="{{ sponsor.sponlink }}">Sponsor's Site</a>
        {% endif %}
        
      </li>
    {% endfor %}
    <p>*Note: National Lab, and the owners of the data. Any opinions, findings, and conclusions or
    recommendations expressed in this material are those of the author and do not necessarily reflect
    the views of the sponsors.</p>
  </ol>
</div>
{% endblock %}
