{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/team.css " %}">
{% endblock %}
{% block content %}
<div class="container main-content">
  <hr class="divide-divider">
  <h2>The Team</h2>
  <img src="{% static "app/img/team.jpg" %}" alt="team image">
  
  <hr class="divide-divider">
  <h2>Current Members</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <img class="leaders" src="https://www.dropbox.com/s/9ovk86aqytu03vt/Yung-HsiangLu.jpg?raw=1" alt="Yung Hsiang Lu">
    </div>
    <div class="col-md-3 col-sm-6">
      <h3>Project Director</h3>
      <h4><a href="https://engineering.purdue.edu/HELPS/Faculty/yunglu.html">Yung Hsiang Lu</a></h4>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6">
      <img class="leaders" src="https://www.dropbox.com/s/zn4nmqhayx6zf6b/GeorgeThiruvathukal.jpg?raw=1" alt="George Thiruvathukal">
    </div>
    <div class="col-md-3 col-sm-6">
      <h3>Team Manager</h3>
      <h4>George Thiruvathukal</h4>
    </div>
  </div>
  
  <hr class="divide-divider">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/or9ld4rvi68e3xl/RyanDailey.jpg?raw=1" alt="Ryan Dailey">
      <h4>Ryan Dailey</h4>
    </div>
    
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/dsqaad1bzfuac75/JosephSweeney.jpg?raw=1" alt="Joseph Sweeney">
      <h4>Joseph Sweeney</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/qd5r8eykkuofibl/JayPatel.jpg?raw=1" alt="Jay Patel">
      <h4>Jay Patel</h4>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/3f66poutq6cm6l9/KentGauen.jpg?raw=1" alt="Kent Gauen">
      <h4>Kent Gauen</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/tnuuahjoxxvktt9/FengjianPan.jpg?raw=1" alt="Fengjian Pan">
      <h4>Fengjian Pan</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/82n4e46wy9t2gb9/SitianLu.jpg?raw=1" alt="Sitian Lu">
      <h4>Sitian Lu</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/ul69ky35z2itrcx/AchinthyaSoordelu.jpg?raw=1" alt="Achinthya Soordelu">
      <h4>Achinthya Soordelu</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/mzgayq04vlfm7ga/AhmedKaseb.jpg?raw=1" alt="Ahmed Kaseb">
      <h4>Ahmed Kaseb</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/8gtf25pjdz440ne/AjayGopakumar.jpg?raw=1" alt="Ajay Gopakumar">
      <h4>Ajay Gopakumar</h4>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/zwd7sx1vbvg8j1u/BoFu.jpg?raw=1" alt="Bo Fu">
      <h4>Bo Fu</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/oksvqjxfa4gybx1/HanyangLiu.jpg?raw=1" alt="Hanyang Liu">
      <h4>Hanyang Liu</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/njrb9h31aneguzq/JamesLee.jpg?raw=1" alt="James Lee">
      <h4>James Lee</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/9296cl23e9rkrug/JenilPatel.jpg?raw=1" alt="Jenil Patel">
      <h4>Jenil Patel</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/o7yajn5z8xyqe6r/JohnLaiman.jpg?raw=1" alt="John Laiman">
      <h4>John Laiman</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/fyzuaioo7xq9igp/NirmalAsokan.jpg?raw=1" alt="Nirmal Asokan">
      <h4>Nirmal Asokan</h4>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/5ga0kw08b9vdsib/SanghyunCho.jpg?raw=1" alt="Sanghyun Cho">
      <h4>Sanghyun Cho</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
        <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/7fy6ppmvcd5wblc/ShengliSui.jpg?raw=1" alt="Shengli Sui">
      <h4>Shengli Sui</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/exv2f0idu8yht4i/WoojinKim.jpg?raw=1" alt="Woojin Kim">
      <h4>Woojin Kim</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/ldwc7cyscvhsiyq/YexinWang.jpg?raw=1" alt="Yexin Wang">
      <h4>Yexin Wang</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/fvobwvx9iqrhg58/YifanLi.jpg?raw=1" alt="Yifan Li">
      <h4>Yifan Li</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/ct5q7m3gov6q9zr/YutongHuang.jpg?raw=1" alt="Yutong Huang">
      <h4>Yutong Huang</h4>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/k6pv3thiw74i0ex/YuxiangZi.jpg?raw=1" alt="Yuxiang Zi">
      <h4>Yuxiang Zi</h4>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/r0e14lccwa3t0bk/ZhanxiangHua.jpg?raw=1" alt="Zhanxiang Hua">
      <h4>Zhanxiang Hua</h4>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="https://www.dropbox.com/s/queg4urqd6myxil/ZhifanZeng.jpg?raw=1" alt="Zhifan Zeng">
      <h4>Zhifan Zeng</h4>
    </div>
  </div>
  
  <hr class="divide-divider">
  <h2>Former Members</h2>
  <div class="row">
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item">He Li</li>
        <li class="list-group-item">Anthony Fennell</li>
        <li class="list-group-item">Zhenming Zhang</li>
        <li class="list-group-item">Zaiwei Zhang</li>
        <li class="list-group-item">Jiaju Yue</li>
        <li class="list-group-item">Huanyi Guo</li>
        <li class="list-group-item">Jeanne Deng</li>
        <li class="list-group-item">Zhenming Zhao</li>
        <li class="list-group-item">Anthony Kang</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item">Qingshuang Chen</li>
        <li class="list-group-item">Yuhao Chen</li>
        <li class="list-group-item">Borui Chen</li>
        <li class="list-group-item">Sriram Rangaramanujan</li>
        <li class="list-group-item">James Tay</li>
        <li class="list-group-item">Kyle McNulty</li>
        <li class="list-group-item">Seth Bontrager</li>
        <li class="list-group-item">Pranjit Kalita</li>
        <li class="list-group-item">Subhav Ramachandran</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item">Lucas Neumann</li>
        <li class="list-group-item">Ahmed Kaseb</li>
        <li class="list-group-item">Youngsol Koh</li>
        <li class="list-group-item">Everett Berry</li>
        <li class="list-group-item">Erik Rozolis</li>
        <li class="list-group-item">Bolun Zhang</li>
        <li class="list-group-item">Andrew Green</li>
        <li class="list-group-item">Yukun An</li>
        <li class="list-group-item">Daniel Dilger</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
