{% extends "app/base.html" %}
{% block title %}Team{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "app/css/team.css " %}">
{% endblock %}
{% block content %}
    <div class="container main-content">
      

        <hr class="divide-divider">
        <h1>CAM<sup>2</sup> Research Team</h1>
        <hr class="divide-divider">
        <hr>
        
        {% load  custom_tags %}
        {% for team in team_list %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="row">
            {% endif %}

        {% if forloop.revcounter > 2 or team_list|length|modulo:3 == 0 %}
            <div class="col-md-4 col-sm-6 col-xs-12 shadow">
                <img src="{{ team.teamimg }}" alt="team image" class="team">
            </div>


        {% elif forloop.revcounter <= 2 and forloop.counter|divisibleby:"3" is False and team_list|length|modulo:3 == 2 %}
            <div class="col-md-6 col-sm-6 col-xs-12 shadow">
                <img src="{{ team.teamimg }}" alt="team image" class="team">
            </div>


        {% elif forloop.revcounter <= 2 and team_list|length|modulo:3 == 1 %}
            {% if forloop.counter|divisibleby:"3" %}
                <div class="col-md-4 col-sm-6 col-xs-12 shadow">
                    <img src="{{ team.teamimg }}" alt="team image" class="team">
                </div>


            {% else %}

                <div class="col-md-12 col-sm-12 col-xs-12 shadow">
                    <img src="{{ team.teamimg }}" alt="team image" class="team">
                </div>
            {% endif %}
        {% endif %}
        {% if forloop.counter|divisibleby:"3" or forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
        <hr class="divide-divider">
        <h3>Team Leaders</h3>
        <hr>

        {% if leader_list is not None %}
            {% for leader in leader_list %}
                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="row">
                {% endif %}
            <div class="col-md-3 col-sm-6">
                <div class="card p-5 shadow" style="width: 400px; height: auto">
                    <img class="rounded leaders" style=" height: 20rem; object-fit: cover;" src="{{ leader.leaderimg }}" alt="{{ leader.leadername }}">
                    <hr>
                    <div class="card-body ">
                        <h4 class="card-title">{{ leader.leadername }}</h4>
                        <p class="card-text">{{ leader.leadertitle }}</p>
                        <a href="{{ leader.leaderpagelink }}" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
                        
            <div class="col-md-3 col-sm-6"></div>
                        
            {% if forloop.counter0|divisibleby:"2" and not forloop.last %}
                <div class="clearfix visible-sm-block"></div>
            {% else %}
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}

        <!--  Current Members  -->
        {% if leader_list is not None %}
            <hr class="divide-divider">
            <h3>Current Members</h3>
            <hr>
            <div class="col-md-12" style="background-color: white">

                <div class="row">
                    <!--  Crowdsroucing Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Crowdsroucing Team</h3>
                        {% for member in crowd_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!--  Web UI Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: right">
                        <h3>Web UI Team</h3>
                        {% for member in webui_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <hr class="divide-divider">
                <div class="row">
                    <!--  Embedded Computer Vision Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Embedded Vision Team</h3>
                        {% for member in intel_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!--  Parrallel Performance  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Parrellel Perforamce Team</h3>
                        {% for member in parallel_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <hr class="divide-divider">
                <div class="row">
                    
                    <!--  Human Behavior Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Human Behavior Team</h3>
                        {% for member in human_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!--  Resource Management Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Resource Managment Team</h3>
                        {% for member in resource_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>    
                
                <hr class="divide-divider">
                <div class="row">
                    <!--  Software Engineering  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Software Engineering Team</h3>
                        {% for member in software_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!--  Mobile App Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Mobile App Team</h3>
                        {% for member in mobile_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>    
                
                <hr class="divide-divider">
                <div class="row">
                    <!--  Camera Reliability Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Camera Reliability Team</h3>
                        {% for member in cameraRelia_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!--  Camera Discovery Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Camera Discovery Team</h3>
                        {% for member in cameraDisco_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>                
                </div>    
                
                <hr class="divide-divider">
                <div class="row">
                    <!--  Transfer Learning Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Tansfer Learning Team</h3>
                        {% for member in transfer_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!--  Active Training Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Active Training Team</h3>
                        {% for member in activeTraining_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>    
                
                
                <hr class="divide-divider">
                <div class="row">
                    <!--  Image Database Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Image Database Team</h3>
                        {% for member in imageData_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!--  Drone Video Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Drone Video Team</h3>
                        {% for member in drone_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>    
                
                <hr class="divide-divider">
                <div class="row">
                    <!--  Forest Inventory Analysis Team  -->
                    <div class="col-md-6 col-sm-12 col-xs-12" style="float: left">
                        <h3>Forest Inventory Analysis Team</h3>
                        {% for member in forest_list %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-4 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>    
                
                
<!--                      Active Members  -->
<!--
                    <hr class="divide-divider">
                    <div class="row col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="float: left">

                        <h3>Active Team members</h3>
                        <hr>
                        {% for member in active_list %}
                            {% if forloop.counter0|divisibleby:"6" %}
                                <div class="row">
                            {% endif %}
                        <div class="col-md-2 col-sm-4 col-xs-6 d-flex align-itmes-stretch" style="float: left">
                            <div class="card shadow">
                                <img src="{{ member.memberimg }}" alt="{{ member.membername }}">
                                <div class="card-body">
                                    <h5>{{ member.membername }}</h5>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"6" or forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:"2" %}
                            <div class="clearfix visible-xs-block"></div>
                        {% elif forloop.counter|divisibleby:"3" %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    </div>
-->

                </div>

        {% endif %}

         <hr class="divide-divider">

        <!--  Former Members  -->
        {% if oldmember_list is not None and oldmember_list|length != 0 %}
            <h3>Former Members</h3>
            <hr>
            <div class="row container">
              <table class="table table-bordered">
                <thead>
                  <tr>
                {% for member in oldmember_list %}

                  <td style="width: 33%;">{{ member.membername }}</td>
                  {% if forloop.counter|divisibleby:3 %}
                    </tr>
                    <tr>
                  {% endif %}
                {% endfor %}
                  </tr>
                  <tr>

                </thead>
              </table>
            </div>

        {% endif %}
        </hr>





    </div>
    </div>

{% endblock %}
