{% extends "app/base.html" %}
{% block title %}Team{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/css/team.css " %}">
{% endblock %}
{% block content %}

<hr class="divide-divider">

<div class="container main-content">

  <div class="team-posters">
    <h1 class = "title-for-posters">Team Posters </h1>
    {% for poster in poster_images %}
    <p><img style="width: 90%; margin-left: auto; margin-right: auto;" src="{{poster.posterimg}}"/></p>
    {% endfor %}
  </div>
 
</div>
{% endblock %}
