<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CAM²</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/userpage.css"> 
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="homepage.html">CAM<sup>2</sup></a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Cameras</a></li>
                    <li><a href="">Source Code</a></li>
                    <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Team</a></li>
                            <li><a href="">Publications</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="collapse" href="#collapse1">Profile</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
        </div>
                      
    </nav>
    <div class="profile">
      <div class="container">
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Change Email:</label>
                <div class="col-sm-3 col-xs-12">
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Change Password:</label>
                <div class="col-sm-3 col-xs-12"> 
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
              </div>
              <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container main-content">
        
        <h2 class="sub-header">Activity Log</h2>
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Key</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>someone1</td>
                  <td>somekeys1</td>
                  <td>someaction1</td>
                </tr>
                <tr>
                  <td>someone2</td>
                  <td>somekeys2</td>
                  <td>someaction2</td>
                </tr>
                <tr>
                  <td>someone3</td>
                  <td>somekeys3</td>
                  <td>someaction3</td>
                </tr>
                <tr>
                  <td>someone4</td>
                  <td>somekeys4</td>
                  <td>someaction4</td>
                </tr>
              </tbody>
        </table>
        <hr class="divide-divider">
        <footer>
            <p class="pull-right hidden-xs"><a href="#">Back to top</a></p>
            <p>© CAM² Research Group. · <a href="">Privacy</a> · <a href="">Terms of Use</a></p>
        </footer>
    </div>
    <script src="./js/jquery-1.11.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>
