{% extends "app/base.html" %}
{% block title %}YOLO in TensorFlow Demo{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <hr class="divide-divider">
    <h1>CAM<sup>2</sup> YOLO in TensorFlow Demo</h1>
    <hr class="divide-divider">

    <iframe width="964" height="542" src="https://www.youtube.com/embed/sl8iN6eHCfo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>Source Code: <a href='https://github.com/PurdueCAM2Project/TensorFlowModels/tree/clean_to_master/yolo/demos/examples'>Download</a><br>iOS: <a href='https://github.com/PurdueCAM2Project/TensorFlowModels/blob/clean_to_master/yolo/demos/examples/ios/INSTALL.md'>Build Instructions</a><br>Android: <a href='https://ioair.link/fergc9'>Download</a></p>

</div>
{% endblock %}
