h1 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

.center {
  text-align: center;
  color: #424242;
  font-size: 1.2em;
}

.embed-responsive-item {
  margin: 20px 10px 10px 10px;
  width: 100%;
  height: auto;
}

.divide-heading {
  color: #424242;
  margin: 20px 10px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
}

.divide-divider-small {
  margin: 20px 0;
  border-top: 1px solid #fff;
}
