/*
html {
  overflow-y: scroll;
  height: 100%;
}

body {
  font-family: 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  color: #444;
  line-height: 30px;
  padding-top: 50px;
  padding-bottom: 230px;
  min-height: 100%;
  position: relative;
}

h2 {
  font-weight: normal;
}

a,
a:hover,
a:focus {
  color: #19b9e7;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}



.embed-responsive-item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
*/


/*Change the bg color of footer*/
/*
footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
  padding: 20px 100px 10px 100px;
  width: 100%;
  background: rgba(255,0,0,.5);
  background-color: #f1f1f1;
}

.row:after {
  content: "";
  display: table;
  clear: both；
}
*/

.divide-divider {
  margin: 30px 0;
  border-top: 1px solid #fff;
}

.break {
    background: #F1F1F1;
    height: 2px;
    margin: 5px 0 10px 0;
    margin-right: 100px;
    width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 70%;
}


.nav-pills>li>a:hover {
	background-color: #F1F1F1;
}


a{
  color: black;
}

a:hover,
a:focus {
  color: #1aa3ff;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
