html {
  overflow-y: scroll;
}

body {
  font-family: 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  color: #444;
  line-height: 30px;
  padding-top: 50px;
  padding-bottom: 40px;
}

h2 {
  font-weight: normal;
}

.navbar {
    background-color: #F1F1F1;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ff;
}

.navbar-inverse .navbar-brand {
  color: #f1f1f1;
}


#new_logo {
  height:25px;
  width:auto;
}


a,
a:hover,
a:focus {
  color: #f1f1f1;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.divide-divider {
  margin: 30px 0;
  border-top: 1px solid #fff;
}

.embed-responsive-item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

/*Change the bg color of footer*/
footer {
  margin: auto;
  padding: 20px 100px 10px 100px;
  width: 100%;
  background: rgba(255,0,0,.5);
  background-color: #f1f1f1
}

