.divide-divider {
  margin: 30px 0;
  border-top: 1px solid #fff;
}

.break {
    background: #F1F1F1;
    height: 2px;
    margin: 5px 0 10px 0;
    margin-right: 100px;
    width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 70%;
}


.nav-pills>li>a:hover {
	background-color: #F1F1F1;
}

/* Typegraphy */
li, a{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
    line-height: 20px;
}

a:hover {
  color: #1aa3ff;
  text-decoration: underline;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;viewport
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.widget {
  .card-header {
    background: #fff;
    a {
      width: 100%;
      display: block;
      &:after {
        content: "+";
        position: absolute;
        right: 40px;
        top: .9rem;
        transition: transform .25s ease-in-out;
      }
      &:hover,
      &:focus {
      text-decoration: none;
      }
      &[aria-expanded="true"] {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .card-block {
    padding: 0 1.3rem;
    .widget-list {
      li {
        margin-bottom: 4px;
      }
    }
  }
}