h1 {
  font-weight:bold;
}

img { 
  height: 100%;
  opacity: 0.6;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.splash {
  position: relative;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background-color: black
}

.divide-heading {
  color: #424242;
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.lead {
  color: #5a5a5a;
  font-size: 17px;
}

.embed-responsive-item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
