.nav-pills>li.active#human>a{
   background-color: red !important;
}

.nav-pills>li.active#car>a{
   background-color: blue !important;
}

.nav-pills>li.active#sign>a{
   background-color: green !important;
}