h3 {
  font-size: 25px;
  font-weight:bold;
  color: #555;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

p {
  text-align: left;
}



::-moz-selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

.inner-bg {
  padding: 20px 0 20px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.form-box {
  margin-top: 10px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 {
  margin-top: 0;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 133px;
  width: 100%;
  border-radius: 5px;
  border-style:hidden;
}

.form-bottom form button.btn {
  width: 77%;
  background-color: #444;
  color:#fff;
  font-weight: 700;
  padding: 10px 15px;
  margin-top: 20px;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

.social-login {
  margin-top: 20px;
}

.social-login-buttons {
  margin-top: 20px;
}

.middle-border {
  min-height: 300px;
  margin-top: 170px;
  border-right: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

input {
  width:100%;
  border-radius: 5px;
  border-style:hidden;
  padding:7px;
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  .middle-border {
    min-height: auto;
    margin: 65px 30px 0 30px;
    border-right: 0;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 415px) {
  h1,
  h2 {
    font-size: 32px;
  }
}

.recaptcha-btn {
  padding: 10px 15px;
  margin-bottom: 15px;
}

.oauth-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 70%;
}

.terms {
  line-height: 150%;
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
