h1, p, li {
  color: #212121;
}

li.paper {
  line-height: 1.5;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

hr {
    clear: both;
    visibility: hidden;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}