h2 {
  color: #212121;
  font-weight: bold;
  font-size: 200%;
  margin-top: 50px;
}

h3 {
  color: #212121;
}

p {
  line-height: 1.5;
}

.divide-divider {
  margin: 15px 0;
}

.container {
  color: #515151;
}
